@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input, textarea, select {
    caret-color: black;
  }
  
  input:hover, textarea:hover, select:hover {
    cursor: pointer;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}